<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="en">
<meta name="description" content="Shailany Vizconde Portal - This is my private page.">
<meta name="keywords" content="shailany vizconde">
<meta name="copyright" content="Shailany Vizconde">
<meta name="distribution" content="Global">
<meta name="author" content="Shailany Vizconde">
<meta name="robots" content="index,follow">
<title>Shailany Vizconde Portal</title>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<style>
        body {

            font-family: 'Lato', sans-serif;
            background: #ffffff;
            font-size: 100%;
            margin: 0px;
            margin-left: 60px;
            margin-right: 100px;
            padding: 0px;
            color: #868686;
            width: 90%;
            height: auto;

        }

        .header {
            border-top: 8px groove #3b3b3b;
            margin-top: 0px;
        }

        .banner {
            width: 100%;
        }

        .menucl {
            /*text-align: center;*/
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid black;
            padding-bottom: 25px;
            padding-top: 13px;
            margin:0px;
        }

        #mydiv {
            text-align: center;
        }

        .menucl a:hover {
            color: white;
            /*background-color: yellow;*/
        }

        .menucl a {
            text-decoration: none;
            color: black;
            /*background-color: yellow;*/
        }

        .content {
            text-align: center;
            margin-top: 25px;
        }

            .content h1 {
                text-align: center;
                /*color: #ff5454;*/
                color: hotpink;
            }


            .content a {
                text-align: center;
                /*color: #ff5454;*/
                text-decoration: none;
                color: hotpink;
                font-size: 30px;
                font-weight: bold;
            }

                .content a:hover {
                    color: lightpink;
                }

            .content p {
                text-align: center;
                /*color: #ff5454;*/
            }

        .main_content {
            width: 100%;
            margin-top: 60px;
            overflow: hidden;
        }

        .left_content {
            width: 36%;
            float: left;
            margin-left: 60px;
        }

        .right_content {
            width: 55%;
            float: left;
            margin-left: 30px;
        }

            .right_content h3 {
                /*line-height: 1.8em;*/
                font-size: 17px;
                font-weight: bold;
                margin-top: 0px;
            }

            .right_content p {
                /*line-height: 1.8em;*/
                font-size: 15px;
                margin-top: 0px;
                margin-right: 80px;
                text-align: justify;
            }

        .footer {
            /*line-height: 1.8em;*/
            width: 100%;
            font-size: 14px;
            margin-top: 5px;
            padding-top: 20px;
            background-color: hotpink;
            color: white;
            font-weight: bold;
            margin-top: 40px;
            height: 40px;
            text-align: center;
        }

            .footer a {
                text-decoration: none;
                color: white;
            }

                .footer a:hover {
                    color: white;
                    font-size: 17px;
                    font-weight: bold;
                }
    </style>


</head>
<body>


    <div class="banner">
        <img src="images/header.jpg" style="width:100%;height:500px" />
  </div>

  <div class="menucl" id="mydiv" style="background:white;text-align:center;text-decoration:none;" onmouseover="this.style.background='hotpink';" onmouseout="this.style.background='white';">
        <a href="index.html">HOME</a>

        <span id="menuclspan" style="margin-left: 50px;color:black;"> </span>

        <a href="About.html" style="margin-left: 50px;">ABOUT ME</a>
    </div>

    <div class="content">
        <a href="#">Angel of the Acid Lake </a>
        <p>My life is a mystery and knowing me is a journey</p>
    </div>

    <div class="main_content">

        <div class="left_content">
            <img src="images/beach.png" style="width:400px;height:270px;border:1px solid pink;" /> <br> <br>
            <img src="images/culs.jpg" style="width:400px;height:270px;border:1px solid pink;" /> <br> <br>
            <img src="images/santorini.jpg" style="width:400px;height:270px;border:1px solid pink;" /> <br> <br>
            <img src="images/budapest.jpg" style="width:400px;height:270px;border:1px solid pink;" />
        </div>

        <div class="right_content">

            <h3>The best way to find yourself is to lose yourself</h3>
            <p>I consider myself as travelling angel. I just like it <img src="http://www.travelersjournal.co.uk/wp-includes/images/smilies/simple-smile.png" alt=":)" class="wp-smiley" style="height: 1em; max-height: 1em;" /> If there&#8217;s one thing I love that most then that is travelling. I often travel alone since I don&#8217;t have much friend here who is willing to spend money to travel.</p>
  <p>Since I was a child, I really wanted to travel around the world and meet new acquaintances, taste different dishes, engage in cultural activity and more! I also enjoy trekking and other fun activities.</p>
  <p>Embracing different cultures and learning from it is one of my motivations to visit different countries. The passion for traveling and meeting new people and experiencing their culture is definitely innate in me, which is why I never find the hassle in visiting different countries. When I am traveling, I make sure I&#8217;ve done an extensive research on the costs of different travel needs and amenities I may stumble upon while traveling. I scout for the best travel deals I can find so as to avoid spending unnecessarily. The best thing about me when traveling is that I am not your typical girl who is finicky and choosy of things – I can travel by myself just for the fun of doing it – no pretensions whatsoever.</p>
  <p>Unlike ordinary travelers and tourists, I am not contented with bringing home corny novelties but experiences that I can share to my blog readers. I created Travelers Journal to share different do-it-yourself travel tips to aspiring travelers who do not want to hurt their credit card or to splurge loads of cash and also to serves as a ‘traveler’s journal’ where not only me who can jot down all the experiences I had in my travels – regardless whether they are good ones or bad ones but also people who wish to share their most unforgettable experience they had. Additionally, this blog will serves as a guide for aspiring travelers who do not want to experience the ‘bad trip’ and enjoy their vacation getaway – no more, no less.</p>
  <p>2010 &#8211; The year when I started to travel outside my comfort zone.  My first tip was a tri-city tour in Asia &#8211; Macau-Hongkong- Shenzen China. Followed by Seoul, South Korea the next month (spring and then other one for summer in Jeju Island and Busan). And a trip to Bohol.</p>
  <p>2011 &#8211; My sister and I visited Singapore, El Nido, Bangkok, Thailand, Puerto Princesa,</p>
  <p>2012 &#8211; Davao, Cebu, Caramoan, Taipei, Seoul South Korea for Autumn</p>
  <p>2013 &#8211; Roadtrip to Northern Luzon, Baler, Boracay, Beijing China, Cambodia, Myanmar, and myfirst ever Volunteering &#8211; Chiang Rai, Thailand, where I spent 2 weeks teaching English.</p>
  <p>2014-  Batanes &#8211; my favorite local getaway; Japan (Winter Vacation in Hiroshima, Tokyo, Osaka, Nagoya and Gala Yuzawa Resort), 1 Week in Vietnam</p>
  <p>I have probably missed some entries here, I cannot recall where I have been 😀</p>
  <p>My plan starting today (3/18/2014)</p>
  <p>March Travel Plan has been canceled.</p>
  <p>April &#8211; Went to South Korea to tour my sister and at the same time watched Musical &#8211; Bonnie and Clyde</p>
  <p>May &#8211; Went to South Korea &#8211; Jeju Island, Busan, Seoul to tour my Aunts &#8211; Celebrated my 25th Birthday in Jeju; Came over to my friend&#8217;s house and tour Casiguran Aurora. Lovely Beaches!</p>
  <p>June &#8211; NONE YET</p>
  <p>July &#8211; Kuala Lampur</p>
  <p>September to future &#8211; EUROPE &#8211; London, Prague, etc. I should be in Vienna Austria! 😀 ( as of now 10:08pm, 7/23/2015 &#8211; I am sitting in my study table while gazing over the window and listening to my new LP.) Dreams do come true. I have been to several countries in Europe. Superb isn&#8217;t it? I started as a dreamer, now I&#8217;m here. )</p>
  <p>If you need a helping hand in the countries I mentioned above, just let me know.. I will help you as much as I can. Just contact me here or thru my fb <img src="http://www.travelersjournal.co.uk/wp-includes/images/smilies/simple-smile.png" alt=":)" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
  <p>&nbsp;</p>
  <p>I maybe celebrating my 25th Christmas in Paris&#8230; I can&#8217;t help it!</p>
        </div>
    </div>
    <div class="footer">
        <a href="index.html">  Copyright &copy; 2015 </a>
    </div>
</body>
</html>
